.jumbotron{
	background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(30, 8, 90)), url('../img/jumbotron-img-cars.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom: 0;
    padding-top: 100px;
    border-radius: 0;
}